extends layout

block content
  div(class="row-fluid")
    div(class="container-fluid")
      div(class="col-md-12")
        ul(class="lista")
          li
            strong
              a(href='candidato/verificacandidato')
                p • Verificar Candidatos
          li
            strong
              a(href='candidato/comparacandidato')
                p • Comparar Candidatos
