extends layout

block content
  div(class="row-fluid")
    div(class="container-fluid")
      div(class="col-md-12")
        ul(class="lista")
          li
            strong
              a(href='eleitorado/listacompletaeleitorado')
                p • Lista completa do eleitorado
          li
            strong
              a(href='eleitorado/buscaeleitorado')
                p • Buscar por eleitorado