html
  head
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body(style='background: #9fb6cd !important;')
    div(class="container-fluid")
      div(class="row-fluid")
        div(class="container-fluid")
          div(class="col-md-12")
            div(class="col-md-12" coralign='center')
              div(class="col-md-9")
              div(class="col-md-3" style='background: #9fb6cd !important;')
                div(class="col-md-2")
                  label Letra
                div(class="col-md-2")
                  button
                    strong A+
                div(class="col-md-2")
                  button
                    strong A-
                div(class="col-md-6")
                  button
                    strong Contraste
              div(class="col-md-12" align='center')
                h2
                  strong MENSALINHO
      div(class="row-fluid")
        div(class="container-fluid")
          div(class="col-md-4")
          div(class="col-md-4 login" align='center')
            div(class="col-md-12")
              h1 Esqueceu a senha
              button() 
                a(href="/") Voltar
    script(type='text/javascript', src='/jquery/jquery-3.1.1.min.js')
    script(type='text/javascript', src='w/bootstrap/js/bootstrap.js')
