extends layout

block content
  div(class="row-fluid")
    div(class="container-fluid")
      div(class="col-md-12" align='center')
        h1
          strong TRABALHO INTERDISCIPLINAR DE DAD E TECWEB
        h3 Desenvolvimento de aplicação distribuida com Mongodb, AngularJS, Express, NodeJS
