extends layout

block content
  div(class="row-fluid")
    div(class="container-fluid")
      div(class="col-md-12")
        h2 Sobre o sistema
      div(class="col-md-12")
        p Esse site tem como objetivo disponibilizar informações eleitorais para seus usuários. Informações tanto de candidatos quanto do eleitorado.
